@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Leckerli+One&family=Merriweather:wght@400;700&family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================
      GLOBAL 
==========================*/

h1{
    font-size: 6.5vw;
}

h3{
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    font-weight: 700;
}

h4{
    font-size: 1.1rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    word-spacing: 0.4vw;
}

h6{
    font-size: 0.9rem;
    font-weight: 700;
    color: #6CAA7F;
}

p{
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    line-height: 1.5rem;
}

button{
    background: #6CAA7F;
    border-style: none;
    padding: 0.7rem 1.3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #fff;
    /* font-family:'Merriweather', serif; */
}

hr{
    background: #27ae60;
    color: #27ae60;
    height: 0.07rem;
}
/* ========================
        Body
==========================*/

body{
    font-family: 'Montserrat', sans-serif;
}

/* ========================
      Header Section 
==========================*/
header .intro{
    position: relative;
}

header .intro .head{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .intro .head h1{
    font-family: "Leckerli One", cursive;
    color: 000;
}

header .intro .head h6{
    color: #27ae60;
    letter-spacing: 0.3rem;
}

header .navbar .navbar-nav .nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #2ecc71;
    transition: width 0.3s;
}

header .navbar .navbar-nav .nav-link:hover::after{
    width: 60%;
    height: 2px;
    background: #2ecc71;
    transition: width 0.3s; 
    border-bottom: 2px solid #27ae60;
}

header .navbar .navbar-nav i{
   font-size: 1.2rem;
   color: #7aca8d;
   cursor: pointer;
}

/* ========================
      Featured Section 
==========================*/

.featured .row .one{
    height: 300px;
}

.featured .row .one img{
    height: 100%;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
}

.featured .row .one .text{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;  
    position: absolute;
    bottom:0;
}

.featured .row .one .text p{
    letter-spacing: 0.2rem;
    line-height: 2px;
}

.featured .row .one .text a{
    text-decoration: none;
    border-style: none;
    color: #fff;
    font-size: 0.9rem;
}

.featured .row .one .text a::after{
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background: #2ecc71;
}

/* ========================
      Subscription Section 
==========================*/

.subcription{
    background-color: #defadb;
}

.subcription .row .sub input{
    outline: none;
    border: 1px solid #6caa7f;
}

.subcription .row .sub input::placeholder{
    font-size: 0.9rem;
}

/* ========================
      Blog Section 
==========================*/

.blog .row .post a{
    font-size: 0.9rem;
    color: #27ae60;
    font-weight: bold;
    text-decoration: none;
    border-style: none;
}

.blog .row .sidebar .side2 .row .sidetext h4{
    font-size: 1rem;
}

.blog .row .sidebar .side2 .row .sidetext a{
    text-decoration: none;
    border-style: none;
    color: #6CAA7F;
    font-size: 0.8rem;
}

.blog .side3 .one{ 
    height: 300px;
    position: relative;
}

.blog .side3 .one img{
    height: 100%;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
}

.blog .side3 .one .text{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;  
    position: absolute;
    top: 0;
    left: 0;
    padding: 10rem 1.1rem 0 1.1rem;
}

/* ========================
      Footer Section 
==========================*/
.footer .container .btn i{
    font-size: 1.5rem;
   color: #7aca8d;
   cursor: pointer;
}